* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

body {
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 69px;
  border-bottom: 1px solid seashell;
}

nav img {
  width: 150px;
  margin-left: 10px;
}
nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

.hero {
  display: flex;
  height: 700px;
  width: 100%;
  max-width: 1200px;
  background-image: url("Resources/Images/mission-background.jpg    ");
  margin: 0 auto;
}

.hero-text {
  width: 100%;
  max-width: 1200px;
  background-color: black;
  text-align: center;
}

.hero-text h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 32px;
}

.hero-text h4 {
  margin-bottom: 10px;
}

.tea {
  text-align: center;
  margin-bottom: 70px;
}

.tea h2 {
  margin-top: 70px;
  margin-bottom: 15px;
  font-size: 28px;
}

.tea h4 {
  margin-bottom: 15px;
}

.tea-container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
}

.tea-type img {
  width: 300px;
  height: 200px;
  margin: 10px;
}

.locations {
  text-align: center;
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("Resources/Images/locations-background.jpg");
  background-position: center;
}

.locations h2 {
  padding-top: 70px;
  font-size: 32px;
  margin-bottom: 15px;
}

.locations-container {
  display: flex;
}

.location-card {
  background-color: black;
  width: 300px;
  height: 300px;
  opacity: 1;
  margin: 0 40px;
}

.location-card h3 {
  margin: 20px;
}

.location-card p {
  margin: 45px 0;
  font-size: 22px;
}

.contact {
  text-align: center;
  margin-top: 15px;
}

.contact h2 {
  margin-bottom: 45px;
  font-size: 32px;
}

.contact h5 {
  margin-bottom: 45px;
  font-size: 18px;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}
